.navbar {
  background-color: #388e3ccb;
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background-color 0.5s ease, box-shadow 0.5s ease;
}

.navbar:hover {
  background-color: #2e7d32;
}

.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.logo img {
  font-size: 1.5rem;
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease, border-color 0.3s ease;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border-width: 10px;
  box-shadow: 0 0 10px rgb(199, 253, 204); 
}

.logo img:hover {
  color: #c8e6c9;
  border-color: #000000;
  border-width: 10px;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.7); 
}

.logo img:active {
  color: #c8e6c9;
  border-color: #000000;
  border-width: 10px;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.7); 
}

.nav-links {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 20px;
  text-align: right;
  margin-left: auto;
}

.nav-links li {
  display: inline;
}

.nav-links a {
  color: #ffffff;
  text-decoration: none;
  font-size: 1.09rem;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #c8e6c9;
}

/* Active Link Style */
.nav-links a.active-link {
  color: #c8e6c9;
  font-weight: bold;
  border-bottom: 2px solid #c8e6c9;
}

/* Hamburger Menu Styles */
.menu-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.menu-toggle .bar {
  width: 25px;
  height: 3px;
  background-color: #ffffff;
  margin: 4px 0;
  transition: 0.4s;
}

/* Mobile Menu Styles */
@media (max-width: 768px) {
  .menu-toggle {
    display: flex;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    width: 100%;
    background-color: #388e3ccb;
    position: absolute;
    top: 70px;
    left: 0;
    text-align: center;
    padding: 10px 0;
  }

  .nav-links.active {
    display: flex;
  }

  .nav-links li {
    margin: 10px 0;
  }

  .menu-toggle.active .bar:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 6px);
  }

  .menu-toggle.active .bar:nth-child(2) {
    opacity: 0;
  }

  .menu-toggle.active .bar:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -6px);
  }
}

@media (max-width: 1024px) {
  .navbar {
    padding: 10px 15px;
  }

  .logo img {
    width: 40px;
    height: 40px;
  }

  .nav-links a {
    font-size: 1rem;
  }
}

@media (max-width: 480px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .nav-links {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }

  .nav-links a {
    font-size: 0.9rem;
  }
}
