.cart-toggle-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #4caf4f9f;
  color: white;
  border: none;
  padding: 15px 20px;
  font-size: 18px;
  border-radius: 50px;
  cursor: pointer;
  z-index: 1100;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.cart-toggle-btn:hover {
  background-color: #43a047;
  transform: scale(1.05);
}

.cart-toggle-btn {
  transition: opacity 0.3s ease-in-out;
  backdrop-filter: blur(1.5px);
}

.cart-toggle-btn.hidden {
  opacity: 0; /* Make button invisible */
  pointer-events: none; /* Disable interaction when hidden */
}
